PORT=8000

DATABASE_URL='localhost'
DATABASE_PORT='3306'
DATABASE_USERNAME='root'
DATABASE_PASSWORD='root'
DATABASE_NAME='Web_ChatConnect' 

JWT_ACCESS_TOKEN_SECRET='accessTokenSecret'
JWT_ACCESS_TOKEN_EXPIRY=3600
JWT_REFRESH_TOKEN_SECRET='refreshTokenSecret'
JWT_REFRESH_TOKEN_EXPIRY=86400

BASIC_AUTH_RMIT_ID='rmitchatconnect'
BASIC_AUTH_RMIT_SECRET='M6fn3qdkxpcbTYjt8azDRGWWjh4XZ7LU'