.rMITLogo_Horizontal1 {
    position: fixed;
    left: 27px;
    top: 18px;
    width: 145px;
    height: 112px;
    background-image:
      /* webpackIgnore: true */
      url('/assets/rMITLogo_Horizontal1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .account {
    color: #3c3e43;
    font-size: 13.7344px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: fixed;
    left: 34.3359px;
    top: 280px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  
  .sidebar {
    width: 233px;
    /* Adjust the width as needed */
    height: 100%;
    /* Make it full height of the viewport */
    background-color: #ffffff;
    /* Set the background color as needed */
    color: #ecf0f1;
    /* Set the text color as needed */
    padding: 20px;
    /* Adjust padding as needed */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* Add styles for other classes within the sidebar as needed */
  .dashboard2 {
    color: #aeaeb1;
    font-size: 20.7344px;
    font-weight: 500;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: fixed;
    left: 73.8223px;
    top: 165.6708px;
    width: 13.4%;
    height: 2%;
    white-space: nowrap;
    flex-direction: column;
    transition: background-color 0.3s ease;
    /* Optional: Add a transition effect for smoother hover */
    cursor: pointer;
  }
  
  .vector {
    position: fixed;
    left: 47.2119px;
    top: 163.9540px;
    width: 20.6016px;
    height: 20.6016px;
    overflow: visible;
  }
  
  .icon4 {
    width: 100%;
    height: 100%;
  }
  
  .courses {
    color: #aeaeb1;
    font-size: 20.7344px;
    font-weight: 500;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: fixed;
    left: 78.1143px;
    top: 216.3164px;
    width: 13%;
    height: 2%;
    white-space: nowrap;
    flex-direction: column;
    transition: background-color 0.3s ease;
    /* Optional: Add a transition effect for smoother hover */
    cursor: pointer;
  }
  
  .group1000004376 {
    position: fixed;
    left: 47.2119px;
    top: 214.5996px;
    width: 20.6016px;
    height: 20.6016px;
    overflow: visible;
  }
  
  .icon5 {
    width: 100%;
    height: 100%;
  }
  
  .messages {
    color: #aeaeb1;
    font-size: 20.7344px;
    font-weight: 500;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: fixed;
    left: 78.1143px;
    top: 315px;
    width: 13%;
    height: 2%;
    white-space: nowrap;
    flex-direction: column;
    transition: background-color 0.3s ease;
    /* Optional: Add a transition effect for smoother hover */
    cursor: pointer;
  }
  
  .group1000004379 {
    position: fixed;
    left: 47.2119px;
    top: 317px;
    width: 20.6016px;
    height: 20.6016px;
    overflow: visible;
  }
  
  .icon8 {
    width: 100%;
    height: 100%;
  }
  
  .settings {
    color: #aeaeb1;
    font-size: 20.7344px;
    font-weight: 500;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: fixed;
    left: 78.1143px;
    top: 365px;
    width: 13%;
    height: 2%;
    white-space: nowrap;
    flex-direction: column;
    transition: background-color 0.3s ease;
    /* Optional: Add a transition effect for smoother hover */
    cursor: pointer;
  }
  
  .dashboard2:hover,
  .courses:hover,
  .planning:hover,
  .statistics:hover,
  .messages:hover,
  .settings:hover {
    background-color: rgb(5, 8, 51)
  }
  
  .group1000004380 {
    position: fixed;
    left: 47.2119px;
    top: 366px;
    width: 20.6016px;
    height: 20.6016px;
    overflow: visible;
  }