.userProfile {
  color: #384d6c;
  font-size: 24px;
  line-height: 20px;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 332px;
  top: 118px;
  width: 145px;
  height: min-content;
  text-align: center;
  align-items: center;
  text-shadow: 0px 4px 4px #00000040;
  flex-direction: column;
}
.vector75 {
  position: absolute;
  left: 333.9976px;
  top: 154.239px;
  width: 143.0029px;
  max-width: 100%;
  height: 0px;
  max-height: 100%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.group16 {
  position: absolute;
  left: 331.7355px;
  top: 215.7025px;
  width: 105.5289px;
  height: 104.595px;
  overflow: visible;
  filter: drop-shadow(4px 4px 7px #384d6c40);
}
.icon2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.fullName {
  color: #384d6c;
  font-size: 20px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 454.932px;
  top: 224px;
  width: 159.2272px;
  height: min-content;
  flex-direction: column;
}
.major {
  color: #384d6c;
  font-size: 20px;
  font-family: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 454.932px;
  top: 256px;
  width: 158.2194px;
  height: min-content;
  flex-direction: column;
}

.row3 {
  position: absolute;
  left: 920px;
  top: 224px;
  width: 408px;
  height: 66px;
  align-items: center;
  gap: 56px;
  overflow: hidden;
}
.uploadPhoto {
  width: 176px;
  height: 56px;
  justify-content: center;
  align-items: center;
  padding: 6px 2px;
  outline: solid 1px #384d6c;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #384d6c;
  overflow: hidden;
  margin-right: 30px;

  font-size: 14px;
  color: #fff;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;

}
.delete {
  width: 176px;
  height: 56px;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  outline: solid 1px #384d6c;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;

  color: #384d6c;
  font-size: 14px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}



.firstName {
  color: #384d6c;
  font-size: 16px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 334px;
  top: 407px;
  width: 121px;
  height: min-content;
  flex-direction: column;
}
.nameField {
  position: absolute;
  left: 332px;
  top: 443px;
  width: 497px;
  height: 52px;
  outline: solid 1px #d1d5db;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.egAlaa {
  color: #abb1bb;
  font-size: 16px;
  font-style: italic;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 351px;
  top: 459px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.lastName {
  color: #384d6c;
  font-size: 16px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 875px;
  top: 407px;
  width: 121px;
  height: min-content;
  flex-direction: column;
}
.nameField2 {
  position: absolute;
  left: 875px;
  top: 443px;
  width: 497px;
  height: 52px;
  outline: solid 1px #d1d5db;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.egMohamed {
  color: #abb1bb;
  font-size: 16px;
  font-style: italic;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 898px;
  top: 459px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.userName {
  color: #384d6c;
  font-size: 16px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 332px;
  top: 511px;
  width: 121px;
  height: min-content;
  flex-direction: column;
}
.nameField3 {
  position: absolute;
  left: 334px;
  top: 547px;
  width: 1038px;
  height: 52px;
  outline: solid 1px #d1d5db;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.egAlaaMohamed {
  color: #abb1bb;
  font-size: 16px;
  font-style: italic;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 351px;
  top: 563px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}


.emailAddress {
  color: #384d6c;
  font-size: 16px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 336px;
  top: 687px;
  width: 121px;
  height: min-content;
  flex-direction: column;
}
.emailField {
  position: absolute;
  left: 334px;
  top: 723px;
  width: 497px;
  height: 52px;
  outline: solid 1px #d1d5db;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.mail {
  position: absolute;
  left: 353px;
  top: 735px;
  width: 28px;
  height: 28px;
}
.icon {
  width: 100%;
  height: 100%;
}



.introductionToMangagment {
  color: #384d6c;
  font-size: 20px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 401px;
  top: 913px;
  width: 973px;
  height: 32px;
  flex-direction: column;
}

.buildingITSystem {
  color: #384d6c;
  font-size: 20px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 401px;
  top: 987px;
  width: 977px;
  height: 32px;
  flex-direction: column;
}

.userDesign {
  color: #384d6c;
  font-size: 20px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 401px;
  top: 1061px;
  width: 166px;
  height: 32px;
  flex-direction: column;
}
.currentCourse {
  color: #384d6c;
  font-size: 16px;
  font-weight: bold;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 334px;
  top: 864px;
  width: 143px;
  height: min-content;
  flex-direction: column;
}
